version: "3.7"

services:
  postgres:
    image: postgres
    container_name: database_sss
    restart: always
    environment:
      - POSTGRES_USER=docker
      - POSTGRES_PASSWORD=rekcod
      - POSTGRES_DB=database_sss
    volumes:
      - pgdata:/data/postgres
    ports:
      - 5432:5432

  app:
    build: .
    container_name: app_sss
    ports:
      - 3333:3333
      - 9229:9229
    volumes:
      - .:/usr/app
    links:
      - postgres
    depends_on:
      - postgres

volumes:
  pgdata:
    driver: local