version: "3.7"

services:
  database:
    image: postgres
    container_name: database_sss
    restart: always
    ports:
      - 5433:5433
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=sss
    command: -p 5433
    volumes:
      - pgdata:/data/postgres

  app:
    build: .
    container_name: app_sss
    ports:
      - 3333:3333
      - 9229:9229
    volumes:
      - .:/usr/app
    links:
      - database
    depends_on:
      - database

volumes:
  pgdata:
    driver: local
